.header-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.header-title {
	display: flex;
}

.header-menu {
	display: flex;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0;
	margin: auto;
	// flex-wrap: wrap;
}

.block {
	display: flex;
	flex-direction: column;
	// max-width: 320px;
	padding: 1rem;
	margin: 1rem 0;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px,
		rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
}

span {
	font-weight: 400;
	font-size: small;
	font-style: italic;
}
