@import '../../../scss/variables.scss';

.header-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.header-title {
	display: flex;
}

.header-menu {
	display: flex;
}

.container-fluid {
	display: flex;
	flex-direction: column;
	justify-content: center;
	// padding: 0.5rem 0.25rem;
	// margin: auto;
	// flex-wrap: wrap;
}

.block {
	display: flex;
	flex-direction: column;
	// max-width: 320px;
	padding: 0.5rem;
	margin: 0.5rem 0;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px,
		rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
}

.recipes-container {
	min-height: 50vh;
}

.category-container {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.category-block {
	display: flex;
	flex-direction: column;
	width: 100vw;
	padding: 0.5rem;
	margin: 0.05rem;
	background-position: center;
	background-size: cover;
	align-items: center;
	background-attachment: fixed;
	color: rgba(255, 255, 255, 1);
	box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px,
		rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
	animation-duration: 1s;
	animation-name: fadeIn;

	&.small {
		@media (min-width: 769px) {
			display: none;
		}
	}

	&.large {
		font-size: large;
		align-items: flex-start;
		flex: 0 0 33.123%;

		@media (max-width: 768px) {
			display: none;
		}
	}
}

.meat {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(../../../assets/images/meat.jpg);
}

.fish {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(../../../assets/images/fish.jpg);
}

.vegetables {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(../../../assets/images/vegetables.jpg);
}

.riceandpulses {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(../../../assets/images/rice-pulses.jpg);
}

.eggsanddairy {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(../../../assets/images/eggs-dairy.jpg);
}

.fruits {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(../../../assets/images/fruits.jpg);
}

.breads {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(../../../assets/images/breads.jpg);
}

.pasta {
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		url(../../../assets/images/pasta.jpg);
}

.sidesandaccompaniments {
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		url(../../../assets/images/sides.jpg);
}

span {
	font-weight: 400;
	font-size: small;
	font-style: italic;
}

.recipe-link {
	margin: 1rem;

	a {
		text-decoration: none;
		color: $base-color;

		&:hover {
			color: darken($base-color, 10);
		}
	}
}
